:root{
    --main-white: #FFFFFF;
    --second-white: #F9F9F9;
    --grey: #C0C0C0;
    --blue-buttom: #167BF7;
    --background-black: #00030C;
    --font-title: "Inter";
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-black);
    font-family: var(--font-title);
    font-size: 16px;
    font-weight: 400;
}

.main{
    color: var(--main-white);
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__content{
    display: flex;
    flex-direction: column;
}

.container__content__title{
    font-size: 28px;
    font-weight: 700;
}

.container__content__button__1{
    background-color: var(--blue-buttom);
    border-radius: 8px;
    padding: 1em;
    color: var(--main-white);
    text-decoration: none;
    display: block;
}

.container__content__button__2{
    padding: 1em;
    border: solid 1px var(--main-white);
    border-radius: 8px;
    background-color: transparent;
    color: var(--main-white);
    text-decoration: none;
}

.container__content__notice{
    font-size: 12px;
    color: var(--grey);
}